#bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 80%;
    display: grid;
    place-content: center;
    z-index: 1000;
}

#fg {
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
}