#posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}

.h1 {
  color:#a9388d;
  display: flex;
  align-items: center;
}

h1 {
  color:#a9388d;
  display: flex;
  align-items: center;
}

.container .avatarinfo {
  display:flex;
  align-items: center;
  margin: 20px 10px 10px;
  max-width: 0px;
  max-height:100px;
}

.avatarinfo img {
  display: flex;
  align-items: flex-end;
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 120px;
}

.posts img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  padding: 1px 1px 1px 1px;
  border-radius: 4px;
}

