#posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}

.container .username {
  color: #a9388d;
  align-items: center;
  margin: 0;
  text-align: center;
}

.fileInput {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.container-avatar {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "gohome   gohome  userinfo"
    "addpost  lang    theme"
    "search   search  search";
  justify-items: center;
  align-items: center;
}

.avatarinfo {
  margin: 10px 10px 10px;
}

.container .avatarinfo img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 120px;
}

.posts img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  padding: 1px 1px 1px 1px;
  border-radius: 4px;
}

@media (min-width: 300px) and (max-width: 480px) {
  .container .username {
    align-items: center;
    margin: 180px;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 480px) and (max-width: 700px) {
  .container .username {
    align-items: center;
    margin: 100px;
    text-align: center;
    margin-bottom: 20px;
  }
}
